extends layout 

block content
    h1 Category: #{category.name}
    if items > 0
        p There are items with this category. You must delete/edit them first.
        button 
            a(href=category.url) Go back
    else
        p Are you sure you want to delete this category?
        form(method='POST' action='')
            //- TODO considering i use the req.params.id and not the req.body.categoryid from this input, do i still need this input?
            input(type='hidden', name='categoryid', required='true', value=category._id)
            button(type='submit') Yes, delete
        
        button
            a(href=category.url) No