extends layout

block content
  h1 Category #{category.name}
  p Description: #{category.description}
    ul
        each item in items 
            li 
              a(href=item.url) #{item.name}
        else 
            li There are no items.
